<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>


<body style="background-color: black;">
    <div>
        <div style="background-color: rgb(245, 76, 188); border-radius: 50px; text-align: center;">
            <h4 style="color: gold; text-shadow: 20px; font-size: 50px; font-family: sans-serif; font-weight: bolder;">
                Edit Product {{product.title}}</h4>

        </div>

        <div style="color: red; margin: 5px; text-align: center;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <b>{{ message }}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div style="text-align: center;">
            <form method="post" action="/edit/{{product.id}}" enctype="multipart/form-data">
                <input style="height: 50px; width: 500px; border-radius: 20px; border:0.5px solid; border-color:rgb(245, 76, 188) ;" type="text" name="title" class="form-control" placeholder="Enter title" value="{{product.title}}">
                <br/><br>
                <input style="height: 50px; width: 500px; border-radius: 20px; border:0.5px solid; border-color:rgb(245, 76, 188) ;" type="number" name="price" class="form-control" placeholder="Enter price" value="{{product.price}}">
                <br/><br>
                <input style="height: 50px; width: 500px; border-radius: 20px; border:0.5px solid; border-color:rgb(245, 76, 188) ;" type="text" name="category" class="form-control" placeholder="Enter category" value="{{product.category}}">
                <br/><br>
                <input style="height: 50px; width: 500px; border-radius: 20px; border:0.5px solid; border-color:rgb(245, 76, 188) ; color: aliceblue;" type="file" name="picture" required>
                <br><br>
                <textarea style="height: 50px; width: 500px; border-radius: 20px; border:0.5px solid; border-color:rgb(245, 76, 188) ;" type="text" name="description" class="form-control" rows="3">{{product.description}}</textarea>
                <br/><br><br><br>
                <button type="submit" style="color:black ; background-color:gold ; border-radius: 20px; font-size: larger;">SUBMIT</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>